article h1,article  h2, article h3, article h4, article h5 { font-family: 'HK Grotesk', sans-serif;
}
h1 {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 96px;
  line-height: 115px;
  color: #FFFFFF;
  margin-left: 83px;
  margin-top: 76px;
  }
h1 + p {
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-left: 88px;
  }
h2 {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #000000;
  margin-left: 67px;
  margin-top: 76px;
  }
h2 + p {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  width: 795px;
  height: 224px;
  margin-left: 67px;
  margin-top: 21px;
  }
.sale {
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 400;
  font-size: 30px;
  line-height: 26px;
  color: #FFFFFF;
  transform: rotate(12.77deg);
  margin-left: 996px;
  margin-top: -161px;
  width: 123px;
}
.sq_first p {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  transform: rotate(8.64deg);
  margin-left: 156px;
  margin-top: 124px;
  z-index: 5;
}
.sq_second p{
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  transform: rotate(-9.68deg);
  margin-left: 95px;
  margin-top: 95px;
}
.sq_third p {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  transform: rotate(9.25deg);
  margin-left: 81px;
  margin-top: 151px;
}
.holodno {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  transform: rotate(14.67deg);
  margin-left: 145px;
  margin-top: 70px;
}
.size {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  transform: rotate(-21.6deg);
  margin-left: 109px;
  margin-top: 54px;
}
.des_one{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-left:67px;
  margin-top: 131px;
  width: 204px;
}
.price_one{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  margin-left:67px;
  margin-top: 175px;
}
.des_two{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-left:369px;
  margin-top: 131px;
  width: 179px;
}
.price_two{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  margin-left:369px;
  margin-top: 175px;
}
.des_three{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-left:671px;
  margin-top: 131px;
  width: 223px;
}
.price_three{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  margin-left:669px;
  margin-top: 175px;
}
.des_four{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-left:980px;
  margin-top: 131px;
  width: 235px;
}
.price_four{
  position: absolute;
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  margin-left:980px;
  margin-top: 175px;
}
.description{
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-left: 67px;
  margin-top: 253px;
  width: 580px;
}
